[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "SyclParallelSTL"]
	path = SyclParallelSTL
	url = https://github.com/KhronosGroup/SyclParallelSTL.git
[submodule "tbb"]
	path = tbb
	url = https://github.com/intel/tbb.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/QuantStack/xtensor.git
[submodule "xtl"]
	path = xtl
	url = https://github.com/QuantStack/xtl.git
[submodule "xsimd"]
	path = xsimd
	url = https://github.com/QuantStack/xsimd.git
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/QuantStack/xtensor-blas.git
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "MayaAPIUtils"]
	path = MayaAPIUtils
	url = https://github.com/UNDEFINED-BEHAVIOR/MayaAPIUtils.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "units"]
	path = units
	url = https://github.com/nholthaus/units.git
[submodule "cpp-taskflow"]
	path = cpp-taskflow
	url = https://github.com/UNDEFINED-BEHAVIOR/cpp-taskflow.git
[submodule "triSYCL"]
	path = triSYCL
	url = https://github.com/UNDEFINED-BEHAVIOR/triSYCL.git
[submodule "_preinstall/vexcl"]
	path = _preinstall/vexcl
	url = https://github.com/ddemidov/vexcl.git
[submodule "_preinstall/bzip2_cmake"]
	path = _preinstall/bzip2_cmake
	url = https://github.com/osrf/bzip2_cmake.git
[submodule "_preinstall/icu-cmake"]
	path = _preinstall/icu-cmake
	url = https://github.com/viaduck/icu-cmake.git
[submodule "_preinstall/zlib"]
	path = _preinstall/zlib
	url = https://github.com/commontk/zlib.git
[submodule "_preinstall/zstd"]
	path = _preinstall/zstd
	url = https://github.com/facebook/zstd.git
